
        <!-- ======slider-area-start=========================================== -->
        <div class="slider-area slider7 over-hidden">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="~/assets/images/slider/home7-slider1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12  d-flex align-items-center position-static">
                                <div class="slider-content position-absolute">
                                    <h1 data-animation="fadeInLeft" data-delay=".7s" class="pb-10">Modern Lighting</h1>
                                    <span data-animation="fadeInLeft" data-delay="1s" class="d-block">Get 20% Off All Products In Store</span>
                                    <a class="more-view-btn d-inline-block border-light-dark2 bg-transparent theme-color text-uppercase mt-90" data-animation="fadeInLeft" data-delay="1.7s" href="shop.html">Discover Now</a>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div><!-- /single-slider -->
                <div class="single-slider slider-height d-flex align-items-center" data-background="~/assets/images/slider/home7-slider2.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12  d-flex align-items-center position-static">
                                <div class="slider-content">
                                    <h1 data-animation="fadeInLeft" data-delay="1s" class="pb-10">Arm Chair Basic</h1>
                                    <span data-animation="fadeInLeft" data-delay="1.2s" class="d-block">Get 20% Off All Products In Store</span>
                                    <a data-animation="fadeInLeft" data-delay="1.8s" href="#" class="slider-btn slider-btn2  d-inline-block mt-90 text-uppercase theme-color">Discover Now</a>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div><!-- /single-slider -->
                <div class="single-slider slider-height d-flex align-items-center" data-background="~/assets/images/slider/home7-slider3.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12  d-flex align-items-center position-static">
                                <div class="slider-content position-absolute">
                                    <h1 data-animation="fadeInLeft" data-delay="1s" class="pb-10">Trend Audios</h1>
                                    <span data-animation="fadeInLeft" data-delay="1.4s" class="d-block">Get 20% Off All Products In Store</span>
                                    <a data-animation="fadeInLeft" data-delay="1.7s" href="#" class="slider-btn slider-btn2  d-inline-block mt-90 text-uppercase theme-color">Discover Now</a>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div><!-- /single-slider -->
            </div><!-- /slider-active -->
        </div>
        <!-- slider-area-end=  -->

        <!-- ====== top-product-category-area-start=========================================== -->
        <div class="top-product-category-area top-product-category-area-h7 top-product-category-area4 over-hidden mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-4 col-12">
                        <div class="top-product top-product-zoom position-relative over-hidden mb-20">
                            <a href="shop-details.html" class="d-block"><img class="zoom-img width100 height100" src="~/assets/images/product-category/top-p13.jpg" alt=""></a>
                            <div class="p-cate-name position-absolute transition-3">
                                <h4 class="mb-0"><a class="text-capitalize" href="shop-details.html">Chair & Tables h6 <br>Big Sale Lighting</a></h4>
                                <span class="top-product-btn-h7 theme-color mt-30 d-block">Discover Now</span>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-4 col-12">
                        <div class="top-product top-product-zoom position-relative over-hidden mb-20">
                            <a href="shop-details.html" class="d-block"><img class="zoom-img width100 height100" src="~/assets/images/product-category/top-p11.jpg" alt=""></a>
                            <div class="p-cate-name position-absolute transition-3">
                                <h4 class="mb-0"><a class="text-capitalize" href="shop-details.html">Life’s Style <br>Home Accessories</a></h4>
                                <span class="top-product-btn-h7 theme-color mt-30 d-block">Discover Now</span>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-4 col-12">
                        <div class="top-product top-product-zoom position-relative over-hidden mb-20">
                            <a href="shop-details.html" class="d-block"><img class="zoom-img width100 height100" src="~/assets/images/product-category/top-p12.jpg" alt=""></a>
                            <div class="p-cate-name position-absolute transition-3">
                                <h4 class="mb-0"><a class="text-capitalize" href="shop-details.html">Modern<br>Top Dining Chairs</a></h4>
                                <span class="top-product-btn-h7 theme-color mt-30 d-block">Discover Now</span>
                            </div>
                        </div>
                    </div><!-- /col -->
                </div>
            </div><!-- /container -->
        </div>
        <!-- top-product-category-area-end -->
@await Component.InvokeAsync("_TopSellingProductListComponentPartial")

        <!-- ====== sale-off-area-start ========================================= -->
        <div class="sale-off-area mt-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                        <div class="sale-off-content sale-off-content7 over-hidden mb-30 wow fadeInLeft animated">
                            <div class="sale-off-img position-relative">
                                <a href="product-details.html" class="d-block">
                                    <img class="zoom-img width100 height100" src="~/assets/images/product-category/sale-off-img1.jpg" alt="">
                                </a>
                                <div class="sale-off-text sale-off-text7 text-center pt-50 pb-50 position-absolute">
                                    <p class="mb-2"><a class="theme-color" href="product-details.html">Products Essentials</a></p>
                                    <h3><a class="theme-color" href="product-details.html">Sale Off Home Accessories</a></h3>
                                    <div class="sale-off-price mt-30">
                                        <a class="slider-btn text-uppercase theme-color pb-1" href="product-details.html">
                                            <span>Buy now /</span>
                                            <span class="secondary-color">$16.99</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                        <div class="sale-off-content sale-off-content7 over-hidden mb-30">
                            <div class="sale-off-img position-relative">
                                <a href="product-details.html" class="d-block">
                                    <img class="zoom-img width100 height100" src="~/assets/images/product-category/sale-off-img2.jpg" alt="">
                                </a>
                                <div class="sale-off-text sale-off-text-bottom sale-off-text-bottom7 text-center pt-50 pb-50 position-absolute">
                                    <p class="mb-2"><a class="theme-color" href="product-details.html">Products Essentials</a></p>
                                    <h3><a class="theme-color" href="product-details.html">Sale Off Home Accessories</a></h3>
                                    <div class="sale-off-price mt-30">
                                        <a class="slider-btn text-uppercase theme-color pb-1" href="product-details.html">
                                            <span>Buy now /</span>
                                            <span class="secondary-color">$16.99</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                        <div class="sale-off-content sale-off-content7 over-hidden mb-30 wow fadeInRight animated">
                            <div class="sale-off-img position-relative">
                                <a href="product-details.html" class="d-block">
                                    <img class="zoom-img width100 height100" src="~/assets/images/product-category/sale-off-img3.jpg" alt="">
                                </a>
                                <div class="sale-off-text sale-off-text7 text-center pt-50 pb-50 position-absolute">
                                    <p class="mb-2"><a class="theme-color" href="product-details.html">Products Essentials</a></p>
                                    <h3><a class="theme-color" href="product-details.html">Sale Off Home Accessories</a></h3>
                                    <div class="sale-off-price mt-30">
                                        <a class="slider-btn text-uppercase theme-color pb-1" href="product-details.html">
                                            <span>Buy now /</span>
                                            <span class="secondary-color">$16.99</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
        <!-- sale-off-area-end  -->
@await Component.InvokeAsync("_MostFavoritedProductsComponentPartial")

        <!-- ====== blog-area-start=============================================== -->
        <div class="blog-area blog-area7 mt-55">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6  col-lg-6  col-md-10  col-sm-12 col-12 offset-xl-3 offset-lg-3 offset-md-1">
                        <div class="section-title text-center">
                            <h2 class="pb-20">From Our Blog </h2>
                            <p>Eget ac donec odio pharetra pulvinar elit luctus sit morbi placerat justo odio aliquam, urna at augue hac tellus egestas.</p>
                        </div><!-- /section-title -->
                    </div><!-- /col -->
                </div><!-- /row -->
                <div class="row mt-40 pb-80 blog-post-active">
                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="~/assets/images/blog/blog1.jpg" alt=""></a>
                            </div>
                            <div class="single-blog-content mt-20">
                                <ul class="single-blog-info d-flex mb-1">
                                    <li class="admin mr-1">
                                        <span>By</span>
                                        <span><a href="#" class="secondary-color">Admin</a></span>
                                    </li>
                                    <li><span>/</span></li>
                                    <li class="date ml-1">
                                        <span>May</span>
                                        <span>23,</span>
                                        <span>2018</span>
                                    </li>
                                </ul>
                                <h4><a href="blog-details.html">Outsmart Today’s Downpour With These 14 Rainy Day</a></h4>
                                <p class="pt-2">Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach,…</p>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="~/assets/images/blog/blog2.jpg" alt=""></a>
                            </div>
                            <div class="single-blog-content mt-20">
                                <ul class="single-blog-info d-flex mb-1">
                                    <li class="admin mr-1">
                                        <span>By</span>
                                        <span><a href="#" class="secondary-color">Admin</a></span>
                                    </li>
                                    <li><span>/</span></li>
                                    <li class="date ml-1">
                                        <span>May</span>
                                        <span>23,</span>
                                        <span>2018</span>
                                    </li>
                                </ul>
                                <h4><a href="blog-details.html">Outsmart Today’s Downpour With These 14 Rainy Day</a></h4>
                                <p class="pt-2">Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach,…</p>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="~/assets/images/blog/blog3.jpg" alt=""></a>
                            </div>
                            <div class="single-blog-content mt-20">
                                <ul class="single-blog-info d-flex mb-1">
                                    <li class="admin mr-1">
                                        <span>By</span>
                                        <span><a href="#" class="secondary-color">Admin</a></span>
                                    </li>
                                    <li><span>/</span></li>
                                    <li class="date ml-1">
                                        <span>May</span>
                                        <span>23,</span>
                                        <span>2018</span>
                                    </li>
                                </ul>
                                <h4><a href="blog-details.html">Outsmart Today’s Downpour With These 14 Rainy Day</a></h4>
                                <p class="pt-2">Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach,…</p>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="~/assets/images/blog/blog4.jpg" alt=""></a>
                            </div>
                            <div class="single-blog-content mt-20">
                                <ul class="single-blog-info d-flex mb-1">
                                    <li class="admin mr-1">
                                        <span>By</span>
                                        <span><a href="#" class="secondary-color">Admin</a></span>
                                    </li>
                                    <li><span>/</span></li>
                                    <li class="date ml-1">
                                        <span>May</span>
                                        <span>23,</span>
                                        <span>2018</span>
                                    </li>
                                </ul>
                                <h4><a href="blog-details.html">Outsmart Today’s Downpour With These 14 Rainy Day</a></h4>
                                <p class="pt-2">Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach,…</p>
                            </div>
                        </div>
                    </div><!-- /col -->
                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="~/assets/images/blog/blog5.jpg" alt=""></a>
                            </div>
                            <div class="single-blog-content mt-20">
                                <ul class="single-blog-info d-flex mb-1">
                                    <li class="admin mr-1">
                                        <span>By</span>
                                        <span><a href="#" class="secondary-color">Admin</a></span>
                                    </li>
                                    <li><span>/</span></li>
                                    <li class="date ml-1">
                                        <span>May</span>
                                        <span>23,</span>
                                        <span>2018</span>
                                    </li>
                                </ul>
                                <h4><a href="blog-details.html">Outsmart Today’s Downpour With These 14 Rainy Day</a></h4>
                                <p class="pt-2">Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. Minimalist approach,…</p>
                            </div>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
                <div class="bottom-line"></div>
            </div><!-- /container -->
        </div>
        <!-- blog-area-end -->
