@{
	ViewData["Title"] = "AboutUs";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======slider-area-start=========================================== -->
<div class="slider-area over-hidden">
	<div class="single-page page-height d-flex align-items-center" data-background="images/about-us/About-us-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12  d-flex align-items-center justify-content-center">
					<div class="page-title text-center">
						<h2 class="text-capitalize text-white mb-20">About us</h2>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb justify-content-center bg-transparent">
								<li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
								<li class="breadcrumb-item active text-capitalize" aria-current="page">About us</li>
							</ol>
						</nav>
					</div><!-- /page title -->
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
		<!-- </div> -->
	</div><!-- /single-slider -->
</div>
<!-- slider-area-end=  -->
<!-- ====== about-us-area-start=============================================== -->
<div class="about-us-des-area">
	<div class="container-wrapper extra-padding-15">
		<div class="row">
			<div class="col-xl-10  col-lg-10  col-md-12  col-sm-12 col-12 offset-xl-1 offset-lg-1">
				<div class="about-us-content mt-60 mb-60">
					<p class="pb-10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
					<p>Diga, Koma and Torus are three kitchen utensils designed for Ommo, a new design-oriented brand introduced at the Ambiente show in February 2016. </p>
					<p>Minimalist approach, bright colors, stainless steel and matte plastic, abstract shapes and curved lines are the defining features of these products designed to be extremely functional, user-friendly and fun. Diga is a two-color melamine salad bowl where vegetables can be washed, drained and served. The disk at the bottom of the bowl can be turned counterclockwise to drain water when washing vegetables and it can be turned clockwise to lock the drain and hold condiments in the bowl when serving. Koma and Torus are two tea infusers, each with an original design and a concealed function. Koma has a round base and a long stainless steel-trimmed handle which offers a comfortable grip and allows.And the brushed steel cover opens and closes at the touch of a finger to easily fill and empty the infuser. The perfect way to enjoy brewing tea. Torus is donut-shaped and can cling to any cup. It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea.</p>
				</div><!-- /about-us content -->
			</div><!-- /col -->
		</div><!-- /row -->
	</div><!-- /container -->
</div>
<!-- about-us des-area-end -->
<!-- ====== about-us-area-start=============================================== -->
<div class="about-us-banner-area">
	<div class="container-wrapper extra-padding-15">
		<div class="row">
			<div class="col-xl-6  col-lg-6  col-md-6  col-sm-6 col-12">
				<div class="abt-banner-img wow slideInLeft mb-30">
					<img src="images/about-us/banner1-about-us.jpg" alt="">
				</div>
			</div><!-- /col -->
			<div class="col-xl-6  col-lg-6  col-md-6  col-sm-6 col-12">
				<div class="abt-banner-img wow slideInRight mb-30">
					<img src="images/about-us/banner2-about-us.jpg" alt="">
				</div>
			</div><!-- /col -->
		</div><!-- /row -->
	</div><!-- /container -->
</div>
<!-- about-us des-area-end -->

<div class="about-us-des-area mt-35 mb-60">
	<div class="container-wrapper extra-padding-15">
		<div class="row">
			<div class="col-xl-10  col-lg-10  col-md-12  col-sm-12 col-12 offset-xl-1 offset-lg-1">
				<div class="about-us-content">
					<p>Diga is a two-color melamine salad bowl where vegetables can be washed, drained and served. The disk at the bottom of the bowl can be turned counterclockwise to drain water when washing vegetables and it can be turned clockwise to lock the drain and hold condiments in the bowl when serving. Koma and Torus are two tea infusers, each with an original design and a concealed function. Koma has a round base and a long stainless steel-trimmed handle which offers a comfortable grip and allows.And the brushed steel cover opens and closes at the touch of a finger to easily fill and empty the infuser. The perfect way to enjoy brewing tea. Torus is donut-shaped and can cling to any cup. It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea.</p>
				</div><!-- /about-us content -->
			</div><!-- /col -->
		</div><!-- /row -->
	</div><!-- /container -->
</div>
<!-- about-us des-area-end -->
<!-- ====== service feature-area-start=========================================== -->
<div class="about-us-video-area">
	<div class="container-wrapper extra-padding-15">
		<div class="about-us-video about-video-bg d-flex align-items-center justify-content-center" data-background="images/slider/slider-home-9-2.jpg">
			<a data-fancybox="" href="https://youtu.be/pswdTJ59fdQ">
				<div class="video-play-wrap position-relative">
					<div class="video-mark">
						<div class="wave-pulse wave-pulse-1"></div>
						<div class="wave-pulse wave-pulse-2"></div>
					</div>
					<div class="video-play position-relative text-center white-bg theme-color">
						<i class="fas fa-play"></i>
					</div>
				</div>
			</a>
		</div>
	</div><!-- /container -->
</div>
<!-- about-us des-area-end -->
<!-- ====== service feature-area-start=========================================== -->
<div class="service-feature-area border-b-light-gray">
	<div class="container-wrapper extra-padding-15 pt-80 pb-65">
		<div class="row">
			<div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
				<div class="single-service-feature text-center mb-30">
					<div class="ser-feature-icon text-center mb-10">
						<span class="primary-color text-center d-block"><i class="ser-f-icon flaticon-worldwide"></i></span>
					</div>
					<h4 class="py-1">Worldwide Shipping</h4>
					<p>Duis autem vel eum iriure dolor in hendrerit vulputate velit esse molestie consequat.</p>
				</div>
			</div><!-- /col -->
			<div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
				<div class="single-service-feature text-center mb-30">
					<div class="ser-feature-icon text-center mb-10">
						<span class="primary-color text-center d-block"><i class="ser-f-icon flaticon-24-hours-support"></i></span>
					</div>
					<h4 class="py-1">Online Support 24/7</h4>
					<p>Duis autem vel eum iriure dolor in hendrerit vulputate velit esse molestie consequat.</p>
				</div>
			</div><!-- /col -->
			<div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
				<div class="single-service-feature text-center">
					<div class="ser-feature-icon text-center mb-10">
						<span class="primary-color text-center d-block"><i class="ser-f-icon flaticon-recommend"></i></span>
					</div>
					<h4 class="py-1">Money Return Guarantee</h4>
					<p>Duis autem vel eum iriure dolor in hendrerit vulputate velit esse molestie consequat.</p>
				</div>
			</div><!-- /col -->
		</div><!-- /row -->
	</div><!-- /container -->
</div>
<!-- service feature-area-end -->
<!-- ====== subscribe-area-start ========================================= -->
