@using Core_Layer.Dtos.AuthDtos
@model RegisterDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12 offset-xl-2 offset-lg-1 px-xl-0">
                <div class="login-form-area border-light-gray2 pl-90 pr-90 pt-90 pb-95">
                    <h3 class="mb-30 text-center">Create An Account</h3>

                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <form asp-controller="Account" asp-action="Register" method="post">
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="mt-25">First Name <span class="secondary-color">*</span></label>
                                    <input asp-for="Name" class="form-control rounded-0 border-light-gray2 pl-20" placeholder="Enter your name">
                                    <span asp-validation-for="Name" class="text-danger small"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-25">Last Name <span class="secondary-color">*</span></label>
                                    <input asp-for="Surname" class="form-control rounded-0 border-light-gray2 pl-20" placeholder="Enter your surname">
                                    <span asp-validation-for="Surname" class="text-danger small"></span>
                                </div>
                            </div>

                            <label class="mt-25">Username <span class="secondary-color">*</span></label>
                            <input asp-for="UserName" class="form-control rounded-0 border-light-gray2 pl-20" placeholder="Choose a username">
                            <span asp-validation-for="UserName" class="text-danger small"></span>

                            <label class="mt-25">Email Address <span class="secondary-color">*</span></label>
                            <input asp-for="Email" class="form-control rounded-0 border-light-gray2 pl-20" placeholder="Enter your email">
                            <span asp-validation-for="Email" class="text-danger small"></span>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="mt-25">Password <span class="secondary-color">*</span></label>
                                    <input asp-for="Password" type="password" class="form-control rounded-0 border-light-gray2 pl-20" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger small"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-25">Confirm Password <span class="secondary-color">*</span></label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control rounded-0 border-light-gray2 pl-20" placeholder="Re-type password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="sub-btn d-inline-block text-center text-white theme-bg transition text-uppercase width100 border-0 mt-40">
                            Register Now
                        </button>

                        <div class="or text-center mt-30 mb-30">
                            <span class="d-block position-relative">or</span>
                        </div>

                        <p class="text-center">Already have an account? <a asp-action="Login" class="secondary-color">Login now</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
