
@{
    Layout = null;
}


<!doctype html>
<html lang="en" class="semi-dark">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>
	<!--wrapper-->
	<div class="wrapper">

		<!-- SIDEBAR -->
		@await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
		<!-- SIDEBAR -->

		<!-- NAVBAR -->
		@await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
		<!--NAVBAR -->

		<div class="page-wrapper">
			<div class="page-content">
				@RenderBody()
			</div>
		</div>

		<div class="overlay toggle-icon"></div>
		<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>

		<footer class="page-footer">
			<p class="mb-0">Copyright ©2026. All right reserved.</p>
		</footer>
	</div>
	<!--end wrapper-->

	<!-- SWITCHER -->
	@await Component.InvokeAsync("_AdminLayoutSwitcherComponentPartial")
	<!-- SWITCHER -->

	<!-- SCRIPTS -->
	@await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
	<!-- SCRIPTS -->

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>

