
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SmartShopper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="~/assets/images/logo/favicons.png" type="image/x-icon">

    <!-- All ~/assets/css here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/audioplayer.css">
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/icomoon.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--  ====== preloader start =============================================  -->
    <div id="preloader">
        <div class="circle">
            <div class="inner"></div>
        </div>
    </div>
    <!--  preloader-end  -->
    <!--  ====== header-area-start=======================================  -->
    <header>
        <div id="header-sticky" class="header-area">
            <div class="header pl-30 pr-30 pt-15 pb-15">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between position-relative">
                        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-4 pr-0  d-lg-flex align-items-lg-center position-static">
                            <div class="d-block d-lg-none">
                                <a class="mobile-menubar" href="javascript:void(0);"><span class="icon-menu"></span></a>
                            </div>
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul class="d-block">
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul class="mega-menu border-gray pt-30 pb-20 pl-30 pr-30">
                                                <li><a href="index.html">Home page 1</a></li>
                                                <li><a href="index2.html">Home page 2</a></li>
                                                <li><a href="index3.html">Home page 3</a></li>
                                                <li><a href="index4.html">Home page 4</a></li>
                                                <li><a href="index5.html">Home page 5</a></li>
                                                <li><a href="index6.html">Home page 6</a></li>
                                                <li><a href="index7.html">Home page 7</a></li>
                                                <li><a href="index8.html">Home page 8</a></li>
                                                <li><a href="index9.html">Home page 9</a></li>
                                                <li><a href="index10.html">Home page 10</a></li>
                                                <li><a href="index11.html">Home page 11</a></li>
                                                <li><a href="index12.html">Home page 12</a></li>
                                            </ul>
                                        </li>
                                        <li class="full-mega-menu-position">
                                            <a class="active" href="shop.html">Shop</a>
                                            <ul class="mega-menu full-mega-menu pb-40 pl-50 pt-60 border-gray bg-white" data-background="~/assets/images/bg/background_menu.jpg">
                                                <li class="border-r-light-gray pl-10">
                                                    <a class="mega-title mb-20" href="#">Shop Layout</a>

                                                    <ul>
                                                        <li><a href="shop.html">Full width</a></li>
                                                        <li><a href="shop-right-sidebar.html"> Sidebar Right</a></li>
                                                        <li><a href="shop-left-sidebar.html"> Sidebar left</a></li>
                                                        <li><a href="shop-list-view.html">List View</a></li>
                                                        <li><a href="cart.html">Shopping cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                    </ul>
                                                </li>
                                                <li class="border-r-light-gray pl-30">
                                                    <a class="mega-title mb-20" href="#">Product Layout</a>
                                                    <ul>
                                                        <li><a href="product-details.html">Simple Product</a></li>
                                                        <li><a href="product-details.html">Downloadable</a></li>
                                                        <li><a href="product-details.html">Affiliate product</a></li>
                                                        <li><a href="product-details.html">Grouped Product</a></li>
                                                        <li><a href="product-details.html">Variable Product</a></li>
                                                        <li><a href="product-details.html">Special Products</a></li>
                                                        <li><a href="product-details.html">Other</a></li>
                                                    </ul>
                                                </li>
                                                <li class="border-r-light-gray pl-30">
                                                    <a class="mega-title mb-20" href="#">Product categories</a>
                                                    <ul>
                                                        <li><a href="product-details.html">Home Accessories</a></li>
                                                        <li><a href="product-details.html">Lighting Deco</a></li>
                                                        <li><a href="product-details.html">Tables lamp</a></li>
                                                        <li><a href="product-details.html">Ceiling lights</a></li>
                                                        <li><a href="product-details.html">Wall lights</a></li>
                                                        <li><a href="product-details.html">Chair & Tables</a></li>
                                                        <li><a href="product-details.html">Outdoor</a></li>
                                                    </ul>
                                                </li>
                                                <li class="pl-30">
                                                    <a class="mega-title mb-20" href="#">Products tag</a>
                                                    <ul>
                                                        <li><a href="product-details.html">Art</a></li>
                                                        <li><a href="product-details.html">Bathroom</a></li>
                                                        <li><a href="product-details.html">Bowls</a></li>
                                                        <li><a href="product-details.html">Clocks</a></li>
                                                        <li><a href="product-details.html">Decor</a></li>
                                                        <li><a href="product-details.html">Dining</a></li>
                                                        <li><a href="product-details.html">Flowerpots</a></li>
                                                    </ul>
                                                </li>
                                            </ul><!-- /mega-menu -->
                                        </li>
                                        <li class="full-mega-menu-position">
                                            <a href="blog-right-sidebar.html">Blog</a>
                                            <ul class="mega-menu full-mega-menu full-mega-menu2 border-gray  pb-40 pl-50 pt-60" data-background=">">
                                                <li class="border-r-light-gray pl-10">
                                                    <a class="mega-title mb-20" href="#">Blog Layouts 1</a>
                                                    <ul>
                                                        <li><a href="blog-Left-sidebar.html">Left Sidebar List</a></li>
                                                        <li><a href="blog-Left-sidebar.html">Left Sidebar List 2</a></li>
                                                        <li><a href="blog-Left-sidebar.html">Left Sidebar List 3</a></li>
                                                        <li><a href="blog-Left-sidebar.html">Left Sidebar List 4</a></li>
                                                    </ul>
                                                </li>
                                                <li class="border-r-light-gray pl-30">
                                                    <a class="mega-title mb-20" href="#">Blog Layouts 2</a>
                                                    <ul>
                                                        <li><a href="blog-right-sidebar.html">right Sidebar  List</a></li>
                                                        <li><a href="blog-right-sidebar.html">right Sidebar  List 2</a></li>
                                                        <li><a href="blog-right-sidebar.html">right Sidebar  List 3</a></li>
                                                        <li><a href="blog-details.html">Blog details page</a></li>
                                                    </ul>
                                                </li>
                                                <li class="border-r-light-gray pl-30 ">
                                                    <a class="mega-title mb-20" href="#">Post Formats</a>
                                                    <ul>
                                                        <li><a href="blog-details.html">Post Formats Audio</a></li>
                                                        <li><a href="blog-details.html">Post Formats Image</a></li>
                                                        <li><a href="blog-details.html">Post Formats Gallery</a></li>
                                                        <li><a href="blog-details.html">Post Formats Video</a></li>
                                                    </ul>
                                                </li>
                                                <li class="pl-30">
                                                    <a class="mega-title mb-20" href="#">Categoires</a>
                                                    <ul>
                                                        <li><a href="blog-details.html">Sofas & Daybeds</a></li>
                                                        <li><a href="blog-details.html">Photography</a></li>
                                                        <li><a href="blog-details.html">Dining Tablets</a></li>
                                                        <li><a href="blog-details.html">Stools & Benches</a></li>
                                                    </ul>
                                                </li>
                                            </ul><!-- /mega-menu -->
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="mega-menu mega-dropdown-menu border-gray pt-30 pb-20 pl-30 pr-30">
                                                <li><a href="about-us.html">About us</a></li>
                                                <li><a href="contact-us.html">Contact us</a></li>
                                                <li><a href="login.html">Login & Register</a></li>
                                                <li><a href="faq-page.html">F.A.Q.’s</a></li>
                                                <li><a href="page-not-found.html">404 pages</a></li>
                                                <li><a href="privacy-page.html">Privacy Page</a></li>
                                                <li><a href="term-and-conditon.html">Term & Conditions</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Portfolio</a>
                                            <ul class="mega-menu mega-dropdown-menu border-gray pt-30 pb-20 pl-30 pr-30">
                                                <li><a href="single-project.html">Single project</a></li>
                                                <li><a href="two-column-project.html">Two Columns</a></li>
                                                <li><a href="three-column-project.html">Three Columns</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- /main-menu -->
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2 col-md-4 col-sm-4 col-4 d-flex align-items-center justify-content-center">
                            <div class="logo">
                                <a href="index.html" class="d-block" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Homess"><img src="~/assets/images/logo/logo.png" alt="HOMESS"></a>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-5  col-lg-5 col-md-4 col-sm-4 col-4">
                            <div class="header-right d-flex justify-content-end align-items-center">
                                <ul class="header-login d-none d-lg-block">
                                    <li><a href="login.html" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Login / Register"><span class="icon-users"></span><span class="logo-register ml-2">Login / Register</span></a></li>
                                </ul>
                                <ul class="header-search d-none d-lg-block">
                                    <li><span class="icon-search"></span></li>
                                </ul>
                                <ul class="header-heart d-none d-lg-block">
                                    <li><a href="wishlist.html" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="View wishlist"><span class="icon-heart"></span></a></li>
                                </ul>
                                <ul>
                                    <li class="position-relative">
                                        <div class="header-shopping-cart">
                                            <span class="icon-shopping-bag"></span><sup class="s-count">0</sup>
                                        </div>
                                        <div class="header-shopping-cart-details position-absolute bg-white border-gray pl-30 pr-30 pt-30 pb-30">
                                            <div class="h-shop-cart-contetn over-x-heddne over-y-scroll">
                                                <ul class="d-flex pb-20 border-b-light-gray">
                                                    <li class="h-shop-cart-img pl-0">
                                                        <a class="d-block" href="product-details.html"><img src="~/assets/images/product/product1.jpg" alt=""></a>
                                                    </li>
                                                    <li class="pl-3">
                                                        <h6 class="single-product-name"><a href="product-details.html">Blossom Porcelain Side Plates</a></h6>
                                                        <span class="primary-color">1<span>x</span>$320.00</span>
                                                    </li>
                                                    <li class="s-p-remove px-1 pl-0">
                                                        <span>x</span>
                                                    </li>
                                                </ul>
                                                <ul class="d-flex pt-20 pb-20 border-b-light-gray">
                                                    <li class="h-shop-cart-img pl-0">
                                                        <a class="d-block" href="product-details.html"><img src="~/assets/images/product/product5.jpg" alt=""></a>
                                                    </li>
                                                    <li class="pl-3">
                                                        <h6 class="single-product-name"><a href="product-details.html">Chair living room fiberglass</a></h6>
                                                        <span class="primary-color">1<span>x</span>$120.00</span>
                                                    </li>
                                                    <li class="s-p-remove px-1 pl-0">
                                                        <span>x</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="s-sub-t mt-3 mb-20">
                                                <span class="theme-color">Subtotal:</span>
                                                <span class="theme-color float-right"> $440.00</span>
                                            </div>
                                            <a class="more-view-btn d-block theme-color border-light-gray2 text-center white-bg theme-color text-capitalize mb-20" href="shop.html">view cart</a>
                                            <a href="#" class="sub-btn d-inline-block width100 text-white text-uppercase theme-bg border-0 ">checkout</a>
                                        </div><!-- /header-shopping-cart -->
                                    </li>
                                </ul>
                                <ul class="d-none d-lg-block">
                                    <li class=" position-relative">
                                        <div class="header-setting"><span class="icon-settings"></span></div>
                                        <div class="header-setting-content position-absolute pt-30 pl-30 pr-30 pb-30">
                                            <h5>Language</h5>
                                            <ul class="mb-20 pt-1">
                                                <li><a href="#">English</a></li>
                                                <li><a href="#">France</a></li>
                                                <li><a href="#">Germany</a></li>
                                            </ul>
                                            <h5>Currencies</h5>
                                            <ul class="pt-1">
                                                <li><a href="#">USD – US Dollar</a></li>
                                                <li><a href="#">EUR – Euro</a></li>
                                                <li><a href="#">GBP – British Pound</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /header-right -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
        </div><!-- /header-bottom -->
    </header>
    <!--  header-area-end  -->
    <!--  ====== header extra info start================================== -->
    <!-- side-mobile-menu start -->
    <div class="side-mobile-menu bg-white pt-20 pb-30 pl-30 pr-30">
        <div class="close-icon float-right pt-10">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <div class="header-search-content pt-90">
            <h4 class="pb-10 text-center">Search in:</h4>
            <ul class="">
                <li><a class="active" href="shop.html">All categories</a></li>
                <li><a href="shop.html">Chair & Tables</a></li>
                <li><a href="shop.html">Floor</a></li>
                <li><a href="shop.html">Home Accessories</a></li>
                <li><a href="shop.html">Ceiling lights</a></li>
            </ul>
            <form action="contact.html" class="position-relative pt-10 pb-15">
                <input class="form-control" type="text" placeholder="Search Products...">
                <a class="position-absolute" href="javascript:void(0)"><span class="icon-search"></span></a>
            </form>
        </div>
        <div class="mobile-menu"></div>
        <div class="menu-login pt-40">
            <ul class="header-login d-flex justify-content-between border-b-light-gray ">
                <li><a href="index.html">Login / register</a></li>
                <li><a href="javascript:void(0)"><span class="icon-users"></span></a></li>
            </ul>
            <ul class="header-heart d-flex justify-content-between border-b-light-gray">
                <li><a href="#">Wishlist</a></li>
                <li><a href="wishlist.html"><span class="icon-heart"></span></a></li>
            </ul>
        </div><!-- /header-right -->
        <div class="mobile-header-setting-more position-relative mb-200">
            <ul class="border-bottom-gray d-flex justify-content-between pt-15 pb-15">
                <li><span>More options</span></li>
                <li class="setting-more">
                    <span class="d-block">+</span>
                </li>
            </ul>
            <div class="mobile-h-setting-more-content border-0 pt-15 pb-30">
                <div class="setting-more-close-icon bg-white float-right pt-10">
                    <span>_</span>
                </div>
                <h5>Language</h5>
                <ul class="mb-20 pt-1 pl-20">
                    <li><a href="#">English</a></li>
                    <li><a href="#">France</a></li>
                    <li><a href="#">Germany</a></li>
                </ul>
                <h5>Currencies</h5>
                <ul class="pt-1 pl-20">
                    <li><a href="#">USD – US Dollar</a></li>
                    <li><a href="#">EUR – Euro</a></li>
                    <li><a href="#">GBP – British Pound</a></li>
                </ul>
            </div>
        </div><!-- /mobile-header-setting-more -->
    </div><!-- /side-mobile-menu -->
    <div class="body-overlay"></div>

    <!-- header search details start -->
    <div class="header-search-details text-center white-bg pt-55 pl-60 pr-60">
        <div class="close-icon float-right">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <div class="header-search-content mt-180 ml-130 mr-130">
            <h3 class="">Search in:</h3>
            <ul class="d-flex justify-content-center mt-25">
                <li><a class="active" href="shop.html">All categories</a></li>
                <li><a href="shop.html">Chair & Tables</a></li>
                <li><a href="shop.html">Floor</a></li>
                <li><a href="shop.html">Home Accessories</a></li>
                <li><a href="shop.html">Ceiling lights</a></li>
            </ul>
            <form action="#" class="position-relative pt-50">
                <input class="form-control" type="text" placeholder="Search Products...">
                <a class="position-absolute" href="#"><span class="icon-search"></span></a>
            </form>
        </div>
    </div><!-- /extra-info -->
    <!-- header extra info end  -->

    <main>
       
        @RenderBody()

        <!-- ====== subscribe-area-start ========================================= -->
        <div class="subscribe-area mt-100 mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8  col-lg-10  col-md-12  col-sm-12 col-12 offset-xl-2 offset-lg-1">
                        <div class="section-title text-center pl-50 pr-50">
                            <h2 class="pb-20">Sign Up For Our Newsletter </h2>
                            <p>Subscribe to the Homess mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                        </div><!-- /section-title -->
                    </div><!-- /col -->
                </div><!-- /row -->
                <div class="row">
                    <div class="col-xl-10  col-lg-12  col-md-12  col-sm-12 col-12 offset-xl-1">
                        <div class="subscribe-form text-center mt-35 pl-90 pr-90">
                            <form action="#">
                                <input class="sub-name form-control text-center" type="text" name="-name" id="name" placeholder="Subscribe to our newsletter...">
                                <a href="#" class="sub-btn d-inline-block text-white theme-bg border-0 mt-50">Subscribe</a>
                            </form>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
        <!-- subscribe-area-end  -->

    </main>
    <!-- ====== footer-area-start ============================================ -->
    <footer>
        <div class="footer-area-area theme-bg">
            <div class="footer-top pt-100 pb-100">
                <div class="container-wrapper extra-padding-15">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="footer-top-content text-center">
                                <div class="footer-logo mb-35">
                                    <a href="index.html"><img src="~/assets/images/logo/logo.png" alt=""></a>
                                </div>
                                <p>Homess is a premium theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive and retina ready.</p>
                                <ul class="social-link d-flex justify-content-center align-items-center mt-35 mb-30">
                                    <li data-toggle="tooltip" data-placement="top" title="Twitter">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Facebook">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Google-plus">
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Linkedin">
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                                <ul class="footer-menu text-center">
                                    <li><a href="index.html">Blog</a></li>
                                    <li><a href="index.html">About us</a></li>
                                    <li><a href="index.html">Portfolio</a></li>
                                    <li><a href="index.html">Contact us</a></li>
                                    <li><a href="index.html">F.A.Q.’s </a></li>
                                </ul><!-- /footer-menu -->
                            </div><!-- /footer-top-content -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <div class="footer-bottom">
                <div class="container-wrapper extra-padding-15">
                    <div class="copyright-area pt-45 pb-25">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="copyright-text d-sm-flex justify-content-center align-items-center text-center">
                                    <p class="pr-1">
                                        Copyright ©
                                        <a href="#">Homess</a>
                                        All Rights Reserved.
                                    </p>
                                    <p>Powered by <a href="#">Bluesky Themes</a></p>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /copyright-area -->
                </div><!-- /container -->
            </div>
        </div>
    </footer>

    <!-- back top -->
    <div class="scroll-up" id="scroll">
        <a href="#"><span class="icon-chevrons-up"></span></a>
    </div>

    <!-- All ~/assets/js here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.inputarrow.js"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/audioplayer.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
