
<!doctype html>
<html class="no-js" lang="zxx">

@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--  ====== preloader start =============================================  -->
    @* <div id="preloader">
        <div class="circle">
            <div class="inner"></div>
        </div>
    </div> *@
    <!--  preloader-end  -->

    <!--  ====== header-area-start=======================================  -->
    @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
    <!--  header-area-end  -->

    <!--  ====== header extra info start================================== -->
    <!-- side-mobile-menu start -->
    <div class="side-mobile-menu bg-white pt-20 pb-30 pl-30 pr-30">
        <div class="close-icon float-right pt-10">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <div class="header-search-content pt-90">
            <h4 class="pb-10 text-center">Search in:</h4>
            <ul class="">
                <li><a class="active" href="shop.html">All categories</a></li>
                <li><a href="shop.html">Chair & Tables</a></li>
                <li><a href="shop.html">Floor</a></li>
                <li><a href="shop.html">Home Accessories</a></li>
                <li><a href="shop.html">Ceiling lights</a></li>
            </ul>
            <form action="contact.html" class="position-relative pt-10 pb-15">
                <input class="form-control" type="text" placeholder="Search Products...">
                <a class="position-absolute" href="javascript:void(0)"><span class="icon-search"></span></a>
            </form>
        </div>
        <div class="mobile-menu"></div>
        <div class="menu-login pt-40">
            <ul class="header-login d-flex justify-content-between border-b-light-gray ">
                <li><a href="index.html">Login / register</a></li>
                <li><a href="javascript:void(0)"><span class="icon-users"></span></a></li>
            </ul>
            <ul class="header-heart d-flex justify-content-between border-b-light-gray">
                <li><a href="#">Wishlist</a></li>
                <li><a href="wishlist.html"><span class="icon-heart"></span></a></li>
            </ul>
        </div><!-- /header-right -->
        <div class="mobile-header-setting-more position-relative mb-200">
            <ul class="border-bottom-gray d-flex justify-content-between pt-15 pb-15">
                <li><span>More options</span></li>
                <li class="setting-more">
                    <span class="d-block">+</span>
                </li>
            </ul>
            <div class="mobile-h-setting-more-content border-0 pt-15 pb-30">
                <div class="setting-more-close-icon bg-white float-right pt-10">
                    <span>_</span>
                </div>
                <h5>Language</h5>
                <ul class="mb-20 pt-1 pl-20">
                    <li><a href="#">English</a></li>
                    <li><a href="#">France</a></li>
                    <li><a href="#">Germany</a></li>
                </ul>
                <h5>Currencies</h5>
                <ul class="pt-1 pl-20">
                    <li><a href="#">USD – US Dollar</a></li>
                    <li><a href="#">EUR – Euro</a></li>
                    <li><a href="#">GBP – British Pound</a></li>
                </ul>
            </div>
        </div><!-- /mobile-header-setting-more -->
    </div><!-- /side-mobile-menu -->
    <div class="body-overlay"></div>

    <!-- header search details start -->
    <div class="header-search-details text-center white-bg pt-55 pl-60 pr-60">
        <div class="close-icon float-right">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <div class="header-search-content mt-180 ml-130 mr-130">
            <h3 class="">Search in:</h3>
            <ul class="d-flex justify-content-center mt-25">
                <li><a class="active" href="shop.html">All categories</a></li>
                <li><a href="shop.html">Chair & Tables</a></li>
                <li><a href="shop.html">Floor</a></li>
                <li><a href="shop.html">Home Accessories</a></li>
                <li><a href="shop.html">Ceiling lights</a></li>
            </ul>
            <form action="#" class="position-relative pt-50">
                <input class="form-control" type="text" placeholder="Search Products...">
                <a class="position-absolute" href="#"><span class="icon-search"></span></a>
            </form>
        </div>
    </div><!-- /extra-info -->
    <!-- header extra info end  -->

    <main>
       
        @RenderBody()

        <!-- ====== subscribe-area-start ========================================= -->
        <div class="subscribe-area mt-100 mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8  col-lg-10  col-md-12  col-sm-12 col-12 offset-xl-2 offset-lg-1">
                        <div class="section-title text-center pl-50 pr-50">
                            <h2 class="pb-20">Sign Up For Our Newsletter </h2>
                            <p>Subscribe to the Homess mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                        </div><!-- /section-title -->
                    </div><!-- /col -->
                </div><!-- /row -->
                <div class="row">
                    <div class="col-xl-10  col-lg-12  col-md-12  col-sm-12 col-12 offset-xl-1">
                        <div class="subscribe-form text-center mt-35 pl-90 pr-90">
                            <form action="#">
                                <input class="sub-name form-control text-center" type="text" name="-name" id="name" placeholder="Subscribe to our newsletter...">
                                <a href="#" class="sub-btn d-inline-block text-white theme-bg border-0 mt-50">Subscribe</a>
                            </form>
                        </div>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
        <!-- subscribe-area-end  -->

    </main>
    <!-- ====== footer-area-start ============================================ -->
    <footer>
        <div class="footer-area-area theme-bg">
            <div class="footer-top pt-100 pb-100">
                <div class="container-wrapper extra-padding-15">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                            <div class="footer-top-content text-center">
                                <div class="footer-logo mb-35">
                                    <a href="index.html"><img src="~/assets/images/logo/logo.png" alt=""></a>
                                </div>
                                <p>Homess is a premium theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive and retina ready.</p>
                                <ul class="social-link d-flex justify-content-center align-items-center mt-35 mb-30">
                                    <li data-toggle="tooltip" data-placement="top" title="Twitter">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Facebook">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Google-plus">
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Linkedin">
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                                <ul class="footer-menu text-center">
                                    <li><a href="index.html">Blog</a></li>
                                    <li><a href="index.html">About us</a></li>
                                    <li><a href="index.html">Portfolio</a></li>
                                    <li><a href="index.html">Contact us</a></li>
                                    <li><a href="index.html">F.A.Q.’s </a></li>
                                </ul><!-- /footer-menu -->
                            </div><!-- /footer-top-content -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <div class="footer-bottom">
                <div class="container-wrapper extra-padding-15">
                    <div class="copyright-area pt-45 pb-25">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="copyright-text d-sm-flex justify-content-center align-items-center text-center">
                                    <p class="pr-1">
                                        Copyright ©
                                        <a href="#">Homess</a>
                                        All Rights Reserved.
                                    </p>
                                    <p>Powered by <a href="#">Bluesky Themes</a></p>
                                </div>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /copyright-area -->
                </div><!-- /container -->
            </div>
        </div>
    </footer>

    <!-- back top -->
    <div class="scroll-up" id="scroll">
        <a href="#"><span class="icon-chevrons-up"></span></a>
    </div>

    <!-- All ~/assets/js here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.inputarrow.js"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/audioplayer.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
