
<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div>
			<img src="~/adminassets/images/logo-icon.png" class="logo-icon" alt="logo icon">
		</div>
		<div>
			<h4 class="logo-text">SmartShopper Admin Panel</h4>
		</div>
		<div class="toggle-icon ms-auto">
			<i class='bx bx-arrow-to-left'></i>
		</div>
	</div>

	<ul class="metismenu" id="menu">
		<li class="menu-label">Product Management</li>
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon">
					<i class='bx bx-cart'></i>
				</div>
				<div class="menu-title">Management</div>
			</a>
			<ul>
				<li>
					<a href="/Admin/Product/ProductList"><i class="bx bx-right-arrow-alt"></i>Product List</a>
				</li>
				<li>
					<a href="/Admin/Category/CategoryList"><i class="bx bx-right-arrow-alt"></i>Category List</a>
				</li>
				<li>
					<a href="/Admin/Order/OrderList"><i class="bx bx-right-arrow-alt"></i>Order List</a>
				</li>
				<li>
					<a href="/Admin/User/UserList"><i class="bx bx-right-arrow-alt"></i>Customer List</a>
				</li>
				<li>
					<a href="/Admin/Role/RoleList"><i class="bx bx-right-arrow-alt"></i>Role List</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="/Product/ProductList" target="_blank">
				<div class="parent-icon">
					<i class="bx bx-support"></i>
				</div>
				<div class="menu-title">Home Page</div>
			</a>
		</li>
	</ul>

</div>