<div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-4 pr-0  d-lg-flex align-items-lg-center position-static">
    <div class="d-block d-lg-none">
        <a class="mobile-menubar" href="javascript:void(0);"><span class="icon-menu"></span></a>
    </div>
    <div class="main-menu">
        <nav id="mobile-menu">
            <ul class="d-block">
                <li>
                    <a href="/Home/Index">Home</a>
                    <ul class="mega-menu border-gray pt-30 pb-20 pl-30 pr-30">
                        <li><a href="/Home/Index">Home page</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Product/ProductList">Shop</a>
                    <ul class="mega-menu border-gray pt-30 pb-20 pl-30 pr-30">
                        <li><a href="/Product/ProductList">Products </a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Product/ProductList">Blog</a>
                    <ul class="mega-menu border-gray pt-30 pb-20 pl-30 pr-30">
                        <li><a href="/Product/ProductList">Blogs </a></li>
                    </ul>
                </li>          
                <li>
                    <a href="#">Pages</a>
                    <ul class="mega-menu mega-dropdown-menu border-gray pt-30 pb-20 pl-30 pr-30">
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="/Account/Login">Login </a></li>
                        <li><a href="/Account/Register">Register</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Profile</a>
                    <ul class="mega-menu mega-dropdown-menu border-gray pt-30 pb-20 pl-30 pr-30">
                        <li><a href="single-project.html">Single project</a></li>
                        <li><a href="two-column-project.html">Two Columns</a></li>
                        <li><a href="three-column-project.html">Three Columns</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>