<header>
	<div class="topbar d-flex align-items-center">
		<nav class="navbar navbar-expand">
			<div class="mobile-toggle-menu">
				<i class='bx bx-menu'></i>
			</div>
			<div class="search-bar flex-grow-1">
				<div class="position-relative search-bar-box">
					<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
					<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
				</div>
			</div>
			<div class="top-menu ms-auto">
				<ul class="navbar-nav align-items-center">
					<li class="nav-item mobile-search-icon">
						<a class="nav-link" href="#">
							<i class='bx bx-search'></i>
						</a>
					</li>

					@await Component.InvokeAsync("_AdminLayoutNavbarTopMenuComponentPartial")

					@await Component.InvokeAsync("_AdminLayoutNavbarNotificationListComponentPartial")

					@await Component.InvokeAsync("_AdminLayoutNavbarMessageListComponentPartial")

				</ul>
			</div>

			@await Component.InvokeAsync("_AdminLayoutNavbarUserProfileComponentPartial")

		</nav>
	</div>
</header>